html {

}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $copyFont;
	//font-family: 'Open Sans', sans-serif;
	//font-size: 2rem;
}

h1 {
	// ...
	font-family: 'Avenir LT Std 35 Light';
	
}